{% extends 'dashboard.html.twig' %}
{% block title %} Archive {% endblock %}
{% block body %}
<style>
    .table th,
    .table td {
        min-width: 200px; /* Augmente la largeur des colonnes */
        white-space: nowrap; /* Empêche le texte de se casser */
    }
</style>

<div class="container-fluid px-4">
    <div class="mt-4 mb-5">
        <h5>Archive de tous vos missions</h5>
    </div>

    <div class="100">
    <form method="post">
        <div class="row">
            <div class="col-3">
                <select class="form-select" name="type">
                    <option value="">Type de reservation...</option>
                    {% for type in types %}
                        <option value={{ type.id }}> {{ type.Type }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <input type="date" name="dateDebut" class="form-control">
            </div>
            <div class="col-3">
                <input type="date" name="dateFin" class="form-control">
            </div>
            <div class="col-3 d-flex align-items-center gap-2">
                <button class = "btn btn-sm btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                <a class = "btn btn-sm btn-outline-success" href="{{ path('chauffeur_archive') }}"><i class="fas fa-sync"></i></a>
            </div>
        </div>
    </form>
    </div>


    <div class="table-responsive mt-3"> {# Ajout de la classe table-responsive #}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type de la réservation</th>
                    <th>Titulaire</th>
                    <th>Date Arrivée</th>
                    <th>Heure Arrivée</th>
                    <th>Vol Arrivée</th>
                    <th>Hôtel</th>
                    <th>Nombre Personne</th>
                    <th>Date Départ</th>
                    <th>Heure Départ</th>
                    <th>Vol Départ</th>
                    <th>Hôtel de récupération</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.Type.Type }}</td>
                    <td>{{ reservation.Titulaire }}</td>
                    <td>{{ reservation.dateArriver|date('d/m/Y') }}</td>
                    <td>{{ reservation.heureArriver }}</td>
                    <td>{{ reservation.vol }}</td>
                    <td>{{ reservation.hotel }}</td>
                    <td>{{ reservation.NombrePersonne }}</td>
                    <td>{{ reservation.dateDepart|date('d/m/Y') }}</td>
                    <td>{{ reservation.heureDepart }}</td>
                    <td>{{ reservation.HotelDepart }}</td>
                    <td>{{ reservation.heureDepart }}</td>
                    <td class="d-flex gap-2">
                        <a href="{{ path('chauffeur_show', {'id': reservation.id}) }}" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="12" class="text-center">Aucune donnée trouvée</td>                 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}