{% extends 'dashboard.html.twig' %}
{% block title %} Payement {% endblock %}
{% block body %}
 
<div class="container-fluid px-4">
    <h4 class="mt-4">payement</h4>  
        {{ form_start(form) }}
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    {{ form_row(form.payement) }}
                </div>
                <div class="col-xl-6 col-md-6">
                    {{ form_row(form.allPayement) }}
                </div>
                <div class="col-3 mt-2">
                    <button class="btn btn-outline-success btn-sm" type="submit">ajouter</button>
                </div>
            </div>
        {{ form_end(form) }}

    <div class="card mt-4">
        <div class="card-body">
            <table class="table w-100 table-bordered">
                <thead>
                    <tr>
                        <th>Mode de payement</th>
                        <th>Etat</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payement in payements %}
                    <tr>
                        <td>{{ payement.payement }}</td>
                        <td>
                            {% if payement.allpayement == true %}
                                utilisable pour toutes les transactions
                            {% else %}
                                seulement pour les transactions avec les clients
                            {% endif %}
                        </td>
                        <td class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{payement.id}}">
                                <i class="fas fa-edit"></i>
                            </button>


                            <div class="modal fade" id="exampleModal{{payement.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modification Mode de payement</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form method="post" action="{{ path('app_payement_edit',{'id':payement.id}) }}">
                                                <input type="text" value={{ payement.payement }} name="payement" class="form-control">
                                                <button type="submit" class="btn btn-success btn-sm text-right mt-2">Modifier</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>


                            <form action="{{ path('app_payement_delete', {'id': payement.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce Mode de payement ?')">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                            <td colspan="3" class="text-center">Aucun donnée trouver</td>                 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}