{% extends 'dashboard.html.twig' %}
{% block title %} Reservation {% endblock %}
{% block body %}

    <div class="container-fluid px-4">
        <div class="w-100" style="height: 100vh;">
            <div class="container">
                <div class="d-flex justify-content-between" style="padding-top: 1rem;">
                    <h4>Reservation</h4>
                    <div class="d-flex gap-2">

                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            Provenance
                        </button>

                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Agence
                        </button>

                    </div>
                </div>


                <div class="w-100 mt-4">

                    {{ form_start(formReservation) }}
                    <div class="row w-100 d-flex justify-content-center align-items-center">
                        <h5>Information</h5>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.Titulaire) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.dateArriver) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.heureArriver) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.vol) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.hotel) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.dateDepart) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.heureDepart) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.volDepart) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.HotelDepart) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.NombrePersonne) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.idClient) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.duree) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.Type) }}
                        </div>

                        <h5 class="mt-4">Voiture et chauffeur</h5>

                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.idVoiture) }}
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            {{ form_row(formReservation.Chauffeur) }}
                        </div>



                        <h5 class="mt-4">Description</h5>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <textarea type="text" name="description" id="description" class="form-control" placeholder="description"></textarea>
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <input type="date" name="datedebutItineraire" id="datedebutItineraire" class="form-control" placeholder="datedebutItineraire">
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <input type="date" name="datefinItineraire" id="datefinItineraire" class="form-control" placeholder="datefinItineraire">
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <input type="number" name="carburant" id="carburant" class="form-control" placeholder="carburant" value="0">
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <input type="number" name="tarif" id="tarif" class="form-control" placeholder="tarif">
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12">
                            <input type="number" name="indemnite" id="indemnite" class="form-control" placeholder="indemnite" value="0">
                        </div>
                        <div class="mt-2 col-lg-6 col-md-6 col-12 d-flex justify-content-between align-items-center">
                            <input type="number" name="qte" id="qte" class="form-control w-75" placeholder="Quantite">
                            <div class="btn btn-outline-primary btn-sm" style="width: 15%;" onclick="ajouterItineraire()">Soumettre</div>
                        </div>

                        <table class="table w-100 table-responsive table-bordered mt-3" name="table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date debut</th>
                                <th>date fin</th>
                                <th>Carburant</th>
                                <th>Indemnite</th>
                                <th>Tarif</th>
                                <th>Qte</th>
                                <th>Total</th>
                                <th>Total indemnite Chauffeur</th>
                            </tr>
                            </thead>
                            <tbody id="itineraireTableBody" >
                            <tr>
                                <td colspan="9" class="text-center">Aucune donnée</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="mt-2">
                            <label for="sommeTotal"><strong>Total général :</strong></label>
                            <input type="text" id="sommeTotal" class="form-control" readonly value="0.00">
                        </div>

                        <input type="hidden" name="itineraire_data" id="itineraireData">

                        <div class="w-100 mb-5">
                            <div class="row">
                                <div class="mt-2 col-lg-6 col-md-6 col-12">
                                    {{ form_row(formReservation.prix) }}
                                </div>
                                <div class="mt-2 col-lg-6 col-md-6 col-12">
                                    {{ form_row(formReservation.idModePayement) }}
                                </div>
                                <div class="mt-2 col-lg-6 col-md-6 col-12">
                                    <button type="submit" class="btn btn-outline-success btn-sm">reserver</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    {{ form_end(formReservation) }}

                </div>
                <table class="table table-bordered mt-3" id="chauffeur-info" style="display: none">
                    <thead>
                    <tr>
                        <th>Chauffeur</th>
                        <th>Jour</th>
                        <th>Nuit</th>
                        <th>Location</th>
                        <th>Circuit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="chauffeur"></td>
                        <td id="jour"></td>
                        <td id="nuit"></td>
                        <td id="location"></td>
                        <td id="circuit"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Provenance des Agences</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            {{ form_start(formNationalite) }}
                            <div>
                                {{ form_row(formNationalite.Nationalite) }}
                            </div>

                            <button type="submit" class="btn btn-outline-success btn-sm mt-2">enregistrer</button>
                            {{ form_end(formNationalite) }}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agence</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            {{ form_start(formClient) }}
                            <div>
                                {{ form_row(formClient.Agence) }}
                            </div>
                            <div class="mt-1">
                                {{ form_row(formClient.IdNationalite) }}
                            </div>

                            <button type="submit" class="btn btn-outline-success btn-sm mt-2">enregistrer</button>
                            {{ form_end(formClient) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ asset('Toast/Toast.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let selectChauffeur = document.getElementById("reservation_Chauffeur");
            let tableInfo = document.getElementById("chauffeur-info");

            selectChauffeur.addEventListener("change", function() {
                let chauffeurId = this.value;
                if (chauffeurId) {
                    fetch(`/api/grille/${chauffeurId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.length > 0) {
                                let info = data[0]; // Prendre le premier élément du tableau JSON
                                document.getElementById("chauffeur").textContent = info.Chauffeur.idPersonne.prenom;
                                document.getElementById("jour").textContent = info.jours.toLocaleString() + " Ar";
                                document.getElementById("nuit").textContent = info.nuit.toLocaleString() + " Ar";
                                document.getElementById("location").textContent = info.location.toLocaleString() + " Ar";
                                document.getElementById("circuit").textContent = info.circuit.toLocaleString() + " Ar";

                                // Afficher le tableau
                                tableInfo.style.display = "table";
                                Toastify({
                                    text: "Grille recuperer",
                                    duration: 3000,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                                    stopOnFocus: true,
                                }).showToast();
                            } else {
                                Toastify({
                                    text: "Aucune grille retrouver",
                                    duration: 3000,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)",
                                    stopOnFocus: true,
                                }).showToast();

                                tableInfo.style.display = "none";
                            }
                        })
                        .catch(error => console.error("Erreur lors de la récupération des données :", error));
                } else {
                    tableInfo.style.display = "none";
                }
            });
        });



        var itineraireData = [];


        function ajouterItineraire() {
            // Récupérer les valeurs des champs
            var description = document.getElementById("description").value;
            var datedebut = document.getElementById("datedebutItineraire").value;
            var datefin = document.getElementById("datefinItineraire").value;
            var carburant = parseFloat(document.getElementById("carburant").value);
            var tarif = parseFloat(document.getElementById("tarif").value);
            var indemnite = parseFloat(document.getElementById("indemnite").value);
            var qte = parseFloat(document.getElementById("qte").value);
            var total = tarif * qte;
            var totalIndemnite = indemnite * qte;

            // Vérifier que les champs ne sont pas vides
            if (!description || !datedebut || isNaN(tarif) || isNaN(qte)) {
                alert("Veuillez remplir tous les champs correctement.");
                return;
            }

            // Sélection du corps du tableau
            var tbody = document.getElementById("itineraireTableBody");


            var formData = {
                "description" : description,
                "datedebut" : datedebut,
                "datefin" : datefin,
                "carburant" : carburant,
                "tarif" : tarif,
                "qte" : qte,
                "indemnite" : indemnite,
                "tarif" : tarif,
                "total" : total,
                "totalIndemnite" : totalIndemnite
            }

            itineraireData.push(formData);
            document.getElementById("itineraireData").value = JSON.stringify(itineraireData);


            // Vérifier si la première ligne indique "Aucune donnée" et la supprimer
            if (tbody.rows.length === 1 && tbody.rows[0].cells.length === 1) {
                tbody.innerHTML = "";
            }

            // Création d'une nouvelle ligne
            var newRow = tbody.insertRow();

            // Insertion des cellules
            newRow.insertCell(0).innerText = description;
            newRow.insertCell(1).innerText = datedebut;
            newRow.insertCell(2).innerText = datefin;
            newRow.insertCell(3).innerText = carburant;
            newRow.insertCell(4).innerText = indemnite;
            newRow.insertCell(5).innerText = tarif.toFixed(2);
            newRow.insertCell(6).innerText = qte;
            newRow.insertCell(7).innerText = total.toFixed(2);
            newRow.insertCell(8).innerText = totalIndemnite.toFixed(2);

            // Mettre à jour la somme totale
            mettreAJourSommeTotal();


            document.getElementById("description").value = "";
            document.getElementById("datedebutItineraire").value = "";
            document.getElementById("datefinItineraire").value = "";
            document.getElementById("carburant").value = 0;
            document.getElementById("tarif").value = "";
            document.getElementById("indemnite").value = 0;
            document.getElementById("qte").value = 0;
        }

        function mettreAJourSommeTotal() {
            var tbody = document.getElementById("itineraireTableBody");
            var rows = tbody.getElementsByTagName("tr");
            var sommeTotal = 0;

            for (var i = 0; i < rows.length; i++) {
                var totalCell = rows[i].cells[7];
                if (totalCell) {
                    sommeTotal += parseInt(totalCell.innerText);
                }
            }



            document.getElementById("sommeTotal").value = sommeTotal.toFixed(2);
            var total = document.getElementById("sommeTotal").value || 0;
            document.getElementById("reservation_prix").value = parseFloat(parseFloat(total));
        }




    </script>

{% endblock %}